// Descriptive color variables
$grey : #777;
$turquaz : #58e1c1;
$white : #fff;
$blue : #51ddfc;
$pink : #e4757a;
$light-red : #fd7856;
$purple: #927bc1;
$green: #63cc82;

// Functional color vatiables

$color-base: $grey;
$color-button: $white;
$color-link: $blue;

// Breakpoints
$break-min: 768px;